# Dictionaries

In [2]:
d1 = {"name":"gitam","emailid":"gitam@gmail.com","adderess":"rudram"}
print(d1)

{'name': 'gitam', 'emailid': 'gitam@gmail.com', 'adderess': 'rudram'}

In [4]:
d1["name"]

'gitam'

In [6]:
d1 = {"name":"gitam","emailid":"gitam@gmail.com","adderess":"rudram"}
print(d1)d1["email"] = "Gitam-python@gmail.com"

In [7]:
d1["email"]

'Gitam-python@gmail.com'

In [10]:
del d1["emailid"]

In [11]:
d1

{'name': 'gitam', 'adderess': 'rudram'}

In [12]:
d1
del d1["emailid"]
1
d1
{'name': 'gitamd1.keys()

dict_keys(['name', 'adderess'])

In [13]:
d1.values()

dict_values(['gitam', 'rudram'])

In [18]:
d1.items()

dict_items([('name', 'gitam'), ('adderess', 'rudram')])

In [15]:
t1 = (1,2,3,4,5,6)
t1
type(t1)

tuple

In [17]:
contacts = {}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print(" contact details are added ")
    else:
        print(" contact details are alreasy exists")
    return
addcontact('Anil','9876543210')
addcontact('Naveen','9966552211')
addcontact('Anil','9876543210')

 contact details are added
 contact details are added
 contact details are alreasy exists

In [21]:
# search for contact details
def searchcontact(name):
    if name in contacts:
        print(name," : ", contacts[name])
    else:
        print("%s does not exists" % name)
    return
searchcontact('Anil')
searchcontact('Harsha')
searchcontact('Naveen')

Anil  :  9876543210
Harsha does not exists
Naveen  :  9966552211

In [22]:
# Import some contacts
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts are added successfully")
    return
newcontacts = {'Dinesh': 9988774455,'Ajay':9977445566}
importcontacts(newcontacts)

2 contacts are added successfully

In [24]:
contacts

{'Anil': '9876543210',
 'Naveen': '9966552211',
 'Dinesh': 9988774455,
 'Ajay': 9977445566}

In [25]:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"not exists")
    return
deletecontact('Ajay')

Ajay deleted successfully

In [26]:
contacts

{'Anil': '9876543210', 'Naveen': '9966552211', 'Dinesh': 9988774455}

In [28]:
def deletecontact(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,"updated successfully")
    else:
        print(name,"not exists")
    return
deletecontact('Anil',9988774455)
deletecontact('Ajay',9988665544)

Anil updated successfully
Ajay not exists

In [32]:
li=["Python","programming"]
print("%s %s"%(li[0],li[1]))

Python programming

In [33]:
print("{0}{1}".format(li[0],li[1]))

Pythonprogramming

In [34]:
s1="gitam"
print(s1.upper())
print(s1.lower())

GITAM
gitam

In [35]:
s1="gitam"
print(s1.upper())
print(s1.lower())
s1="GITAM"
print(s1.islower())
print(s1.isupper())

GITAM
gitam
False
True

In [37]:
s2="Python Programming"
s3='Python Programming'
print(s2.istitle())
print(s3.istitle())

True
True

In [38]:
s1="1234"
s2="Application1234"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [39]:
s2 ="Application1889"
s3 ='PythonProgramming'
print(s2.isalpha())
print(s3.isalpha())

False
True

In [40]:
s1=" "
s2="Py th on"
print(s1.isspace())
print(s2.isspace())

True
False

In [2]:
import math
math.floor(123.45)

123

In [3]:
from math import factorial as fact
fact(5)

120

In [4]:
import random
def randomnumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
randomnumbers(10,0,100)

5 72 34 6 39 1 77 66 32 92